################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarebonesServer/.vs/BarebonesServer/v15
